<h2>新增商品</h2>
<%= simple_form_for [:admin, @product] do |f| %>


<div class="group">
  <%= f.input :title %>
</div>
<div class="group" >
  <%= f.input :description %>
</div>
<div class="group">
  <%= f.input :youku %>
</div>
<div class="group">
  <label>模版分类</label><br>
    <%= f.collection_check_boxes :changjing_ids, Changjing.all, :id, :name %>
</div>
<div class="group">
  <%= f.input :price %>
</div>
<div class="group">

  <%= f.label :avatar %><br>
  <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]"%>
</div>
<%= f.submit "创建新品", data:{disable_with: "Submitting..."}%>
<% end %>

<%= content_for :handwrite_javascript do %>
  <script type="text/javascript">
    autosize($('#product_description'))
  </script>
<% end %>
