


<div class="card">

<div class="wrapper row">
  <div class="preview col-md-6">
    <% if @photos.present? %>
    <div class="preview-pic tab-content">
    <% @photos.each_with_index do |p, index| %>
      <% if index == 0 %>
      <div class="tab-pane active" id="pic-<%= index  %>" >
        <%= image_tag(p.avatar.medium.url)%>
      </div>

      <% else %>
      <div class="tab-pane" id="pic-<%= index  %>" >
        <%= image_tag(p.avatar.medium.url)%>
      </div>
      <% end %>
    <% end %>
    </div>
    <!-- 小图 -->
    <ul class="preview-thumbnail nav nav-tabs">
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
        <li class="active"><a data-target="#pic-<%= index  %>" data-toggle="tab">
          <%= image_tag(p.avatar.thumb.url)%>
        </a></li>

        <% else %>
        <li><a data-target="#pic-<%= index  %>" data-toggle="tab">
          <%= image_tag(p.avatar.thumb.url)%>
        </a></li>
        <% end %>
      <% end %>
    </ul>

      <%#= image_tag(@product.image.medium.url, class:"thumbnail")%>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

  <!--文字描述-->
  <div class="details col-md-6">
    <h3 class="product-title"><%= @product.title %></h3>
    <div class="rating">
      <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <span class="review-no">41 reviews</span>
    </div>

    <p class="product-description"><%= @product.changjing.name %></p>

    <h4>current price:<span><%= @product.price %></span></h4>

    <div class="product-price">¥<%= @product.price %></div>
    <div class="action">

      <%= link_to "加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "add-to-cart btn btn-default"%>

    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
<!-- Nav tabs -->
    <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">模版介绍</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">视频预览</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">分镜头</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">留言板</a></li>
      </ul>

<!-- Tab panes -->
    <div class="tab-content">
      <!-- 模版介绍 -->
      <div role="tabpanel" class="tab-pane active" id="home">
        <%= simple_format(@product.description) %>
      </div>
      <!-- 视频预览 -->
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="dkx-fen">
          <embed src='<%= @product.youku %>' allowFullScreen='true' quality='high' width='720' height='576' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
        </div>
      </div>
      <!-- 分镜头 -->
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="dkx-fen">
          <% if @photos.present? %>
          <% @photos.each do |p| %>
          <div class="dkx-fen-sub" >
            <%= image_tag(p.avatar.medium.url)%>
          </div>
          <% end %>
          <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
      </div>
      <!-- 留言板 -->
      <div role="tabpanel" class="tab-pane" id="settings">
        <% if @posts.present? %>
        <table class="table">
          <thead>
            <tr>
              <th>文章内容</th>
              <th>发表者</th>
              <th>发表时间</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td><%= simple_format(post.content) %></td>
              <td><%= post.user.email %></td>
              <td><%= post.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <%= simple_form_for [@product,@post] do |f| %>
        <div class="form-group">
          <%= f.input :content, input_html: { class: "form-control"} %>
        </div>
        <div class="form-actions">
          <%= f.submit "留言", disable_with: "Submiting...", class: "btn btn-primary"%>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>
